force-app/main/default/flows/CitiUpdateAddress_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Citi_Account</name>
        <label>Get Citi Financial Account Detail. Input: Account No</label>
        <locationX>588</locationX>
        <locationY>51</locationY>
        <actionName>CitiAccountController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_SR</targetReference>
        </connector>
        <inputParameters>
            <name>accountNo</name>
            <value>
                <elementReference>AccountNo</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Init_SR</name>
        <label>Init SR</label>
        <locationX>735</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>servicerequest.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Citi_Account.CitiAccount.recordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>servicerequest.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Address</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assignment</name>
        <label>Update Assignment</label>
        <locationX>619</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>SR.Address_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_mailingaddress.address1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SR.Address_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_mailingaddress.address2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SR.Address_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_mailingaddress.address3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SR.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_mailingaddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SR.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_mailingaddress.postCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Authentication_True</name>
        <label>if Authentication Status?</label>
        <locationX>370</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthenticationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Citi_Account</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <interviewLabel>CitiUpdateAddress_Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Citi Update Address Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Service_Request</name>
        <label>Create Service Request</label>
        <locationX>71</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>SR</targetReference>
        </connector>
        <inputReference>servicerequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>SR</name>
        <label>SR</label>
        <locationX>286</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Detail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>servicerequest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SR</name>
        <label>Update SR</label>
        <locationX>785</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Ack_Page</targetReference>
        </connector>
        <inputReference>SR</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Detail</name>
        <label>Account Detail Page</label>
        <locationX>430</locationX>
        <locationY>307</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Assignment</targetReference>
        </connector>
        <fields>
            <name>screen_citiHeader</name>
            <extensionName>c:citiHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>h1</name>
                <value>
                    <stringValue>Update your address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>h2</name>
                <value>
                    <stringValue>We currently have the following information:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen_citiName</name>
            <extensionName>c:citiCustomerName</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FirstName</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.firstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastName</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.lastName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Citi_Account.CitiAccount.firstName</assignToReference>
                <name>FirstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Get_Citi_Account.CitiAccount.lastName</assignToReference>
                <name>LastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>screen_citiEmail</name>
            <extensionName>c:citiCustomerEmailAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>citiEmailPrimary</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.primaryEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>citiEmailSecondary</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.secondaryEmail</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SR.Primary_Email__c</assignToReference>
                <name>citiEmailPrimary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SR.Secondary_Email__c</assignToReference>
                <name>citiEmailSecondary</name>
            </outputParameters>
        </fields>
        <fields>
            <name>screen_citiPhone</name>
            <extensionName>c:citiCustomerPhoneNumbers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>citiPhoneHome</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.home</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>citiPhoneMobile</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.mobile</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>citiPhoneOffice</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.office</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SR.Home__c</assignToReference>
                <name>citiPhoneHome</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SR.Mobile__c</assignToReference>
                <name>citiPhoneMobile</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SR.Office__c</assignToReference>
                <name>citiPhoneOffice</name>
            </outputParameters>
        </fields>
        <fields>
            <name>screen_mailingaddress</name>
            <extensionName>c:citiCustomerMailingAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>address1</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.MailingAddress.address1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>address2</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.MailingAddress.address2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>address3</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.MailingAddress.address3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.MailingAddress.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postCode</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.MailingAddress.postCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadDescription</name>
                <value>
                    <stringValue>Lorem explain address proof ipsum.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadFileId</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.addressProofId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relatedRecordId</name>
                <value>
                    <elementReference>Get_Citi_Account.CitiAccount.recordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isChanged</name>
                <value>
                    <elementReference>addresschanged</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>txtaddressproof</name>
            <extensionName>c:citiDisplayText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Lorem explain address proof.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>screen_mailingaddress.isChanged</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>addressproofupload</name>
            <extensionName>c:citiFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Upload address proof</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relatedrecordid</name>
                <value>
                    <elementReference>SR.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>screen_mailingaddress.isChanged</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>acc_next</name>
            <extensionName>c:citiButtonNext</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonlabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ack_Page</name>
        <label>Ack Page</label>
        <locationX>1006</locationX>
        <locationY>343</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ack_msg</name>
            <extensionName>c:citiAck</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>h1</name>
                <value>
                    <stringValue>Your Document is submitted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>h2</name>
                <value>
                    <stringValue>We typically response within 24 hours and sent you an Email and SMS to let you know.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ack_home</name>
            <extensionName>c:citiButtonHome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonlabel</name>
                <value>
                    <stringValue>Go to Home</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>47</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Citi_Authentication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Citi_Authentication</name>
        <label>Citi Authentication</label>
        <locationX>208</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Authentication_True</targetReference>
        </connector>
        <flowName>citiAuthenticationFlow</flowName>
        <outputAssignments>
            <assignToReference>AccountNo</assignToReference>
            <name>accountNo</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AuthenticationStatus</assignToReference>
            <name>authenticationStatus</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>1234567890123456</stringValue>
        </value>
    </variables>
    <variables>
        <name>addresschanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AuthenticationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>servicerequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_Request__c</objectType>
    </variables>
    <variables>
        <name>updateaccount</name>
        <apexClass>CitiAccount</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateaccountaddress</name>
        <apexClass>CitiAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
