force-app/main/default/flows/citiAuthenticationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Call backend system api to do authentication. Return Account No if success</description>
        <name>Citi_Authentication</name>
        <label>Call api to do authentication</label>
        <locationX>433</locationX>
        <locationY>50</locationY>
        <actionName>CitiAuthController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Credit_Card</targetReference>
        </connector>
        <inputParameters>
            <name>accountNo</name>
            <value>
                <elementReference>accountNo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <elementReference>password</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>Is_Credit_Card</name>
        <label>If it is credit card account</label>
        <locationX>669</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Check_OTP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Citi_Authentication.CitiAuthSession.authSession</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>-1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrAuthCVV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>citiAuthenticationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Citi Authentication Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Check_OTP</name>
        <label>Check OTP</label>
        <locationX>856</locationX>
        <locationY>358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>headerOTP</name>
            <extensionName>c:citiHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>h1</name>
                <value>
                    <stringValue>Enter OTP</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OPTVerify</name>
            <extensionName>c:citiOTPVerify</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>authenticationStatus</assignToReference>
                <name>authenticationStatus</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrAuthCVV</name>
        <label>Get Credit Card CVV</label>
        <locationX>494</locationX>
        <locationY>357</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_OTP</targetReference>
        </connector>
        <fields>
            <name>headercvv</name>
            <extensionName>c:citiHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>h1</name>
                <value>
                    <stringValue>Please authenticate</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrAuthCVV_CVV</name>
            <extensionName>c:citiAuthenticationCardCVV</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cardNumber</name>
                <value>
                    <elementReference>Citi_Authentication.CitiAuthSession.accountNo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>authenticationStatus</assignToReference>
                <name>authenticationStatus</name>
            </outputParameters>
        </fields>
        <fields>
            <name>btnNext</name>
            <extensionName>c:citiButtonNext</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonlabel</name>
                <value>
                    <stringValue>Send OTP</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrAuthIDInput</name>
        <label>Account/User Input</label>
        <locationX>220</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Citi_Authentication</targetReference>
        </connector>
        <fields>
            <name>authheader</name>
            <extensionName>c:citiHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>h1</name>
                <value>
                    <stringValue>Please authenticate</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrAuthIDInput_Input</name>
            <extensionName>c:citiAuthenticationIDInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>accountNo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountNo</assignToReference>
                <name>account</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>password</assignToReference>
                <name>password</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>userId</assignToReference>
                <name>userId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scrAuthIDInput_next</name>
            <extensionName>c:citiButtonNext</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonlabel</name>
                <value>
                    <stringValue>OK</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>scrAuthIDInput</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0797123456</stringValue>
        </value>
    </variables>
    <variables>
        <name>authenticationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>password</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
